body {
    background-color: hsl(240, 19%, 82%)
}

header {
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.searchButton {
    padding: 10px;
}

.low {
    background-color: green;
    max-width: fit-content;
    color: white;
}

.moderate {
    background-color: yellow;
    max-width: fit-content;
    color: blue;
}

.high {
    background-color: orange;
    max-width: fit-content;
    color: black;
}

.very-high {
    background-color: red;
    max-width: fit-content;
    color: white;
}

.extreme {
    background-color: violet;
    max-width: fit-content;
    color: black;
}

.savedCityButtons {
    background-color: blue;
    color: white;
    border: solid 1px gray;
    border-radius: 45px;
    max-width: 18rem;
    margin: 5px;
}
